@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');*/
@import "../vendor/fontawesome/css/all.min.css";

@mixin transitionAll() {
  transition: all 1.3s ease-out;
}

$color: #222e3c;
$color-d: darken($color, 5%);
$color-l: lighten($color, 7.5%);
$el_size: 2vmin;
$color-main:#f1f2f9;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

body {
  font: $el_size 'Open Sans', sans-serif;
  color: #777;
}

a {
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  order: 2;
  background-color: $color-main;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
 

 
}
#top_menu {
  width: 100%;
  height: $el_size*5;
  background-color: blue;
  color: red;

}

#content {
  height: 100%;
  padding: 5px;
  background-color: aquamarine;
  color: red;
}

nav {
  order:1;
  background: $color;
  flex-shrink: 0;
  margin-right: 2px;
 

  ul { 
    list-style: none;
    padding: 0;
    margin-top: 0;
    align-items:center;
    justify-content:center;
    display: flex;
    flex-direction: column;
    color: #fff;
     
    li{
      
      margin: 0 0 calc($el_size/3) 0;
      /* top | right | bottom | left */
      padding: $el_size 0 $el_size  $el_size;
      width: 100%;
      a:link, a:visited {
        text-decoration: none;
        color: #fff;
      }
      span {
        padding-left:$el_size;
      }
    }
    li:hover {
      background-color: $color-l;
      tooltip {
        visibility: visible;
     
      } 
    }
    tooltip {
      visibility: hidden;
      background-color: $color-l ;
      position: absolute;
      display: inline-block;
      color:$color-main;
      margin-left: calc($el_size/2);
      margin-top: -$el_size;
      padding:  $el_size $el_size $el_size  $el_size;
      z-index: 1;

    } 
  }

}

.is-collapsed {
  display: none; 
}

.card{
  display: flex;
  z-index: 100000;
  background-color: $color-main;
  border-radius: $el_size;
  border: solid $color;
  flex-direction: column;
  word-wrap: break-word; 
  hr{
    display: block;
    border: none;
    height: 3px;
    background-color: $color-l;
    margin: 0px;
}
.card_title{
  padding: 0  $el_size/2  $el_size/2  $el_size/2;
}
.card_body{
  overflow-x: hidden;
  overflow-y: auto;
  //margin-bottom: $el_size/4;
  padding: $el_size/2;
  text-align: left;
  width: 100%;
  height: 100%;
}
}